body{
    padding: 0;
    border: 0;
    margin: 0;
}



div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100vh;
}

h1{
    color: white;
    font-size: 5rem;
}
