div {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 1px solid black;
}

/*WHen u set the height and the line-height the same (200px), the text will be in the center vertically.*/