body {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

p {
    margin: 20px;
}

/*Note: pseudo element, this has two colons, pseudo class has one colon (:) and pseudo element has two colons(: :)*/
p::first-letter {
    font-family: cursive;
    font-size: 36px;
    line-height: .5;
}