html, body, div{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*{
    border: solid black 1px;
}

#atf {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin: 20px auto;

    width: 80vw;
    border-top: 1px solid red;
    font-size: 1.5rem;

}

#top-border{
    margin: 0 20px;
    height: 12rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#spinner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon{
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

#buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#reset, #save{
    padding: 0 20px;
    border:0;
    background: none;

    color: #00539f;
}

#reset:hover{
    background-color: #308014;
}
#save:hover{
    background-color: #308014;
}

.icon-spinner {
    /* animation */
    animation-name: spinner;
    animation-duration: 2s;
    animation-timing-function: linear;
    /*animation-delay: 0s;*/
    animation-iteration-count: infinite;
    /*animation-direction: normal;*/
    /*animation-fill-mode: none;*/
    /*animation-play-state: running;*/
}

@keyframes spinner {
    0% { transform:rotate(0deg); }
    100%   { transform:rotate(360deg);}
}




