body{
    display: flex;
    flex-flow: row wrap;
}
/*Flex either apply it on a div or the body!!!*/

header {
    width: 100%;
    order: 1;
}

nav{
    width: 20%;
    order: 2;
}

article{
    width: 60%;
    order: 3;
}

aside{
    width: 20%;
    order: 4;
}

footer{
    width: 100%;
    order: 5;
}

