ul{
    background-color: skyblue;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,0.3) ;
    text-align: center;
}

a:hover{
    background-color: royalblue;
}


