p {
    font-size:2rem;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    word-spacing: 2rem;
    text-indent: 20%;
}

h {
    font-size: 4rem;
    text-shadow: 5px 5px 8px #4c3fad;
}

a {
    text-decoration:  line-through;
}

a:hover {
    background-color: yellow;
    text-decoration: underline;
}


