 div {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 2px solid blue;
}

header {
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*These two above are default*/
    justify-content: space-between;
    border: 1px solid red;
}