

#idx-atf{
    background-color: darkgray;
    background-image: url("img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;
}

h1,h2,h3,button {
    color: whitesmoke;
    /*font-variant: all-petite-caps;*/
    text-transform: uppercase;
    font-family: 'Cantarell', sans-serif;
}

h1{
    font-size: 3rem;


}


h2{
    font-size: 1.4rem;
    font-weight: 700;
}


h3{
    font-size: 1.4rem;


}


button{
    color: rgb(202, 250, 234);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgb(202, 250, 234);
    padding: 0.4rem 1.2rem;
    border-radius: 5px;
}

button:hover {
    background-color: whitesmoke;
}